<div class="container col-12 col-sm-12 col-lg-12" style="padding-left :25px; padding-right:25px;">



    <div class="row col-12 col-sm-12">
      <div class="text-center margin-auto text-bold margin-top-25 margin-bottom-20 font-large">
        <h3>
          <i class="fa fa-paper-plane" aria-hidden="true"></i> &nbsp;New Progressive Delivery </h3>
      </div>
    </div>
    <div class="row col-12 col-sm-12 background-while padding-30">
      <!--first half -->
      <div class="row col-6 col-sm-6 nopadding ">
        <div class="container">
          <table class=" table-delivery">
            <tbody>
              <tr>
                <td class="width-25-percent text-center">Customer</td>
                <td class="width-75-percent">

                  <select class="width-100-percent form-control" [(ngModel)]="selectedCustomer">
                    <option *ngFor="let c of customerList" [ngValue]="c">{{c}}</option>
                  </select>
                  <!-- <select class="width-100-percent form-control">

                    <option value="Customer">Select Customer</option> 


                  </select> -->
                </td>
              </tr>
              <tr>
                <td class="text-center">Address</td>
                <td>
                  <input type="text" class="form-control" id="address line 1" placeholder="" disabled>
                </td>
              </tr>
              <tr>
                <td>&nbsp;</td>
                <td>
                  <input type="text" class="form-control" id="address line 1" placeholder="" disabled>
                </td>
              </tr>
              <tr>
                <td>&nbsp;</td>
                <td>
                  <input type="text" class="form-control" id="address line 1" placeholder="" disabled>
                </td>
              </tr>
              <tr>
                <td class="text-center">Contact</td>
                <td>
                  <input type="text" class="form-control" id="address line 1" placeholder="">
                </td>
              </tr>
              <tr>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
              </tr>
              <tr class="margin-top-20">
                <td class="text-center">Stock Code</td>
                <td>
                  <!-- <select class="width-100-percent form-control">
                    <option value="Customer">Select Stock</option>
                  </select> -->
                  <select class="width-100-percent form-control" [(ngModel)]="selectedStock">
                    <option *ngFor="let stock of stockList" [ngValue]="stock">{{stock.id}}</option>
                  </select>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <!--second half -->
      <div class="row col-5 col-sm-5">
        <div class="container">
          <table class=" table-delivery">
            <tbody>
              <tr>
                <td class="width-25-percent text-bold text-center" rowspan="2">
                  <h4>P0004 </h4>
                </td>
                <td class="width-75-percent">
                  &nbsp;
                </td>
              </tr>
              <tr>
                <td> &nbsp;</td>
                <td>
                  &nbsp;
                </td>
              </tr>
              <tr>
                <td class="text-center">Date</td>
                <td>
                  <input type="text" class="form-control" id="address line 1" placeholder="">
                </td>
              </tr>
              <tr>
                <td class="text-center">Sales Person Code</td>
                <td>
                  <input type="text" class="form-control" id="address line 1" placeholder="">
                </td>
              </tr>
              <tr>
                <td class="text-center">Account No:</td>
                <td>
                  <input type="text" class="form-control" id="address line 1" placeholder="">
                </td>
              </tr>
              <tr>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
              </tr>
              <tr class="margin-top-20">
                <td class="text-center">Taken Quantity</td>
                <td>
                  <input type="text" class="form-control width-55-percent float-left margin-right-40" id="" placeholder="" [(ngModel)]="selectedQuantity">
                  <input type="text" class="form-control width-25-percent float-left" id="" [(ngModel)]="selectedQuantifier" disabled>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

      <!--table here-->
      <div class="container margin-top-50">
        <table class="table table-striped">
          <tbody>
            <tr class="display-none">
              <td> </td>
              <td> </td>
              <td></td>
              <td> </td>
            </tr>
            <tr>
              <td>Row No</td>
              <td>Stock Code</td>
              <td>Description</td>
              <td>Taken Quantity</td>
            </tr>
            <tr *ngFor="let entry of entryList">
              <td>{{entry.id}}</td>
              <td>{{entry.stockId}}</td>
              <td>{{entry.stockName}}</td>
              <td>{{entry.takenQuantity}} - {{entry.quantifierName}}</td>
            </tr>
          </tbody>
        </table>
      </div>


      <!--first half -->
      <div class="row col-6 col-sm-6 nopadding">
        <div class="container margin-top-50">
          <table class="table-delivery">
            <tbody>
              <tr>
                <td class="width-25-percent text-bold text-center" rowspan="2">
                  <h6>Goods Send To </h6>
                </td>
                <td class="width-75-percent">
                  &nbsp;
                </td>
              </tr>
              <tr>
                <td class="text-center">&nbsp;</td>

              </tr>
              <tr>
                <td class="text-center">Address</td>
                <td>
                  <input type="text" class="form-control" id="address line 1" placeholder="">
                </td>
              </tr>
              <tr>
                <td>&nbsp;</td>
                <td>
                  <input type="text" class="form-control" id="address line 1" placeholder="">
                </td>
              </tr>
              <tr>
                <td>&nbsp;</td>
                <td>
                  <input type="text" class="form-control" id="address line 1" placeholder="">
                </td>
              </tr>
              <tr>
                <td class="text-center">Contact No</td>
                <td>
                  <input type="text" class="form-control" id="contact" placeholder="">
                </td>
              </tr>
              <tr>
                <td class="text-center">Transfer By</td>
                <td>
                  <input type="text" class="form-control" id="transfer" placeholder="">
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <!--second half -->
      <div class="row col-5 col-sm-5">
        <div class="container margin-top-50">
          <table class=" table-delivery">
            <tbody>
              <tr>
                <td class="width-25-percent text-bold text-center" rowspan="2"></td>
                <td class="width-75-percent">
                  &nbsp;
                </td>
              </tr>
              <tr>
                <td> &nbsp;</td>
                <td>
                  &nbsp;
                </td>
              </tr>
              <tr>
                <td class="text-center">ATTN</td>
                <td>
                  <input type="text" class="form-control" id="address line 1" placeholder="">
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>


      <div class="margin-left-50-percent row col-12 col-sm-12 margin-top-20">
        <button type="button" class="btn btn-info" (click)="saveEntry()">Save</button>
      </div>
  

  </div>
  </div>



  <!--end of New Prograsive Delivery -->