<div class="row col-12 col-sm-12">
        <div class="text-center margin-auto text-bold margin-top-25 margin-bottom-20 font-large">
          <h3>
            <i class="fa fa-paper-plane" aria-hidden="true"></i> &nbsp;Import Delivery </h3>
        </div>
      </div>
      
      <div class="margin-left-20-percent row col-12 col-sm-12 margin-top-10">
        <h5>
          <i class="fa  fa-file float-left  margin-20 border-solid"></i>
        </h5>
        <input type="text" class="width-55-percent form-control float-left input-file" id="input-file" placeholder="">
      </div>
      <div class="margin-left-50-percent row col-12 col-sm-12 margin-top-10 margin-bottom-20">
        <button type="button" class="btn btn-info">Import</button>
      </div>
      
      <div class="row col-12 col-sm-12 background-while padding-30">
        <!--first half -->
        <div class="row full-width">
          <h2>Delivery Order Number:</h2>
        </div>
        <div class="row full-width">
          <h3>Sales Order Number</h3>
        </div>
        <div class="row col-6 col-sm-6 margin-top-30">
          <div class="container">
            <table class="table-import">
              <tbody>
                <tr>
                  <td class="text-center">Customer Code</td>
                  <td>
                    <input type="text" class="form-control" id="address line 1" placeholder="">
                  </td>
                </tr>
                <tr>
                  <td class="text-center">Delivery Date</td>
                  <td>
                    <input type="text" class="form-control" id="address line 1" placeholder="">
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <!--second half -->
        <div class="row col-6 col-sm-6 margin-top-30">
          <div class="container">
            <table class="table-import">
              <tbody>
                <tr>
                  <td class="text-center">Customer Name</td>
                  <td>
                    <input type="text" class="form-control" id="address line 1" placeholder="">
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      
        <!--table here-->
        <div class="container margin-top-50">
          <table class="table table-striped">
            <tbody>
              <tr class="display-none">
                <td> </td>
                <td> </td>
                <td></td>
                <td> </td>
              </tr>
              <tr>
                    <td>ROW</td>
                    <td>STOCK CODE</td>
                    <td>DESCRIPTION</td>
                    <td>QUANTITY</td>
                </tr>
              <tr>
                    <td>1</td>
                    <td>STK120000</td>
                    <td>ZIC SUPERVIS AW 68</td>
                    <td>20 - BOTTLE</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>STK120001</td>
                    <td>CROWN GREASE EP-2</td>
                    <td>5 - BOTTLE</td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>STK120002</td>
                    <td>ZIC SUPERVIS A</td>
                    <td>20 - CAN</td>
                </tr>
            </tbody>
          </table>
        </div>
      
        <div class="margin-left-50-percent row col-12 col-sm-12 margin-top-10 margin-bottom-20">
          <button type="button" class="btn btn-info">Import</button>
        </div>
      
      </div>