<div class="row col-12 col-sm-12">
    <div class="text-center margin-auto text-bold margin-top-25 margin-bottom-20 font-large">
        <h3><i class="fa fa-paper-plane" aria-hidden="true"></i> &nbsp;Consolidate Delivery Order</h3>
      </div>
  </div>
  
  <div class="row col-12 col-sm-12 background-while padding-30">
        <!--first half -->
        <div class="row col-6 col-sm-6 margin-top-30">
            <div class="container">
                <table class="table-progresive">
                    <tbody>
                        <tr>
                            <td class="text-center">Company:</td>
                            <td>
                                    <select class="form-control">
                                            <option value="Customer"> Company</option>
                                        </select>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <!--second half -->
        <div class="row col-6 col-sm-6 margin-top-30">
            <div class="container">
                <table class="table-progresive">
                    <tbody>
                        <tr>
                            <td class="text-center">PDO:</td>
                            <td>
                                    <select class="form-control">
                                            <option value="Customer">PDO </option>
                                        </select>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
            <!--first half -->
            <div class="row col-4 col-sm-4 margin-top-30">
                    <div class="container">
                        <table class="table-progresive">
                            <tbody>
                                <tr>
                                    <td class="text-center float-left margin-left-60">PDO:</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <!--second half -->
                <div class="row col-8 col-sm-8 margin-top-30">
                    <div class="container">
                        <table class="table-progresive">
                            <tbody>
                                <tr>
                                       <td> <input type="text" class="form-control" id="pdo" placeholder="P0012.P2039.P3392.P0039" disabled></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
        <!--table here-->
        <div class="container margin-top-50">
            <table class="table table-striped">
              <tbody>
                <tr class="display-none">
                  <td> </td>
                  <td> </td>
                  <td></td>
                  <td> </td>
                </tr>
                <tr>
                  <td>Row No</td>
                  <td>Stock Code</td>
                  <td>Description</td>
                  <td>Taken Quantity</td>
                </tr>
                <tr>
                  <td>1</td>
                  <td>STK120000</td>
                  <td>ZIC SUPERVIS AW 68</td>
                  <td>20 - BOTTLE</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>STK120001</td>
                    <td>CROWN GREASE EP-2</td>
                    <td>5 - BOTTLE</td>
                  </tr>
                  <tr>
                    <td>3</td>
                    <td>STK120002</td>
                    <td>ZIC SUPER A</td>
                    <td>20 - CAN</td>
                  </tr>
                  <tr>
                    <td>4</td>
                    <td>STK120003</td>
                    <td>ZIC SUPERVIS AW 68</td>
                    <td>2 - BOTTLE</td>
                  </tr>
                  <tr>
                    <td>5</td>
                    <td>STK120004</td>
                    <td>ZIC SUPERVIS EP 2</td>
                    <td>20 - BOTTLE</td>
                  </tr>
                  <tr>
                    <td>6</td>
                    <td>STK120005</td>
                    <td>ZIC SUPERVIS A</td>
                    <td>103 - CAN</td>
                  </tr>
     
  
              </tbody>
            </table>
          </div>
    
    </div>