<div class="row col-12 col-sm-12">
    <div class="text-center margin-auto text-bold margin-top-25 margin-bottom-20 font-large">
        <h3><i class="fa fa-paper-plane" aria-hidden="true"></i> &nbsp;Progressive Delivery / Control Monitoring Report</h3>
      </div>
  </div>


  <div class="row col-12 col-sm-12 background-while padding-30">
    <!--first half -->  
    <div class="row col-6 col-sm-6 margin-top-30">
      <div class="container">
        <table class="table-progresive">
          <tbody>
            <tr>
              <td class="text-center">Customer</td>
              <td>
                <input type="text" class="form-control" id="address line 1" placeholder="" >
              </td>
            </tr>
            <tr>
              <td class="text-center">Contact No</td>
              <td>
                <input type="text" class="form-control" id="address line 1" placeholder="" disabled>
              </td>
            </tr>
            <tr>
                <td>&nbsp;</td>
                <td>
                    &nbsp;
                </td>
              </tr>
            <tr>
                <td class="text-center">Stock Code : 162005</td>
                <td>
                  <input type="text" class="form-control" id="stock line 1" placeholder="" disabled>
                </td>
              </tr>
              <tr>
                <td class="text-center">&nbsp;</td>
                <td>
                  <input type="text" class="form-control" id="stock line 2" placeholder="" disabled>
                </td>
              </tr>
              <tr>
                <td class="text-center"> &nbsp;</td>
                <td>
                  <input type="text" class="form-control" id="stock line 3" placeholder="" disabled>
                </td>
              </tr>
          </tbody>
        </table>
      </div>
    </div>
    <!--second half -->
    <div class="row col-6 col-sm-6 margin-top-30">
        <div class="container">
          <table class="table-progresive">
            <tbody>
                <tr>
                    <td class="text-center">Sales Person Code</td>
                    <td>
                      <input type="text" class="form-control" id="address line 1" placeholder="" disabled>
                    </td>
                  </tr>
                  <tr>
                    <td class="text-center">Account No</td>
                    <td>
                      <input type="text" class="form-control" id="address line 1" placeholder="" disabled>
                    </td>
                  </tr>  
            </tbody>
          </table>
        </div>
      </div>

          <!--table here-->
<div class="container margin-top-50">
    <h6 class="margin-right-30 float-left">Stock Code : 162005</h6>  <h6 class="float-left">ZIC SK ZIN X5 10W40(4 LITRE)( 1 CTN X 4 CANS X 4 LITRE)</h6>
  <table class="table table-striped">
    <tbody>
      <tr class="display-none">
        <td> </td>
        <td> </td>
        <td></td>
        <td> </td>
        <td> </td>
        <td> </td>
      </tr>
      <tr>
        <td>Row No</td>
        <td>Date</td>
        <td>DO No</td>
        <td>Ship To</td>
        <td>Order No</td>
        <td>Status</td>
      </tr>
      <tr>
        <td>1</td>
        <td>2/12/2017</td>
        <td>SK25001</td>
        <td>Perniagaan Wong</td>
        <td>17520</td>
        <td>Progresive</td>
      </tr>
      <tr>
        <td>1</td>
        <td>2/12/2017</td>
        <td>SK25001</td>
        <td>Perniagaan Wong</td>
        <td>17520</td>
        <td>Progresive</td>
      </tr>
      <tr>
        <td>1</td>
        <td>2/12/2017</td>
        <td>SK25001</td>
        <td>Perniagaan Wong</td>
        <td>17520</td>
        <td>Progresive</td>
      </tr>
      <tr>
        <td>1</td>
        <td>2/12/2017</td>
        <td>SK25001</td>
        <td>Perniagaan Wong</td>
        <td>17520</td>
        <td>Progresive</td>
      </tr>
    </tbody>
  </table>
</div>

</div>