.wrapper
{
    font-size: 5px !important;
}
.btn-border
{
    border-style: solid;
    border-width: 1px;
    text-align: center;
}

.text-center
{
    text-align: center;
}

.margin-auto
{
    margin:auto;
}

.text-bold
{
    font-weight: bold;
}

.margin-top-25
{
    margin-top:25px;
}

.margin-bottom-20
{
    margin-bottom:20px;
}

.nopadding {
    padding: 0 !important;
    margin: 0 !important;
 }

body {    
background-color:#f2f2f2;
}

.form-group
{
    font-size: 12px !important;
}

.background-while
{
    background-color:#ffffff;
}

.padding-30
{
    padding: 30px;
}

.padding-left-20
{
    padding-left : 50px;
}

.padding-left-25
{
    padding-top : 25px;
}

.width-75-percent
{
    width:75%;
}

.width-25-percent
{
    width:25%;
}

.width-55-percent
{
    width:55%;
}

.float-left
{
    float:left;
}

.float-right
{
    float:right;
}

.width-100-percent
{
    width:100%;
}

.padding-bopttom-0
{
    padding-bottom:0px !important;
}

.table-delivery {
    padding-bottom:0px ;
    display:table;
    width:100%;
}

.table-delivery tr{
    padding-bottom:0px ;
}

.margin-top-20
{
  margin-top:20px;
}

.margin-right-40
{
    margin-right: 40px;
}

.margin-20
{
    margin: 20px;
}

.margin-top-50
{
  margin-top:50px;
}

.margin-top-40
{
  margin-top:40px;
}

.margin-top-30
{
  margin-top:30px;
}

.margin-top-20
{
  margin-top:20px;
}

.margin-top-10
{
  margin-top:10px;
}

.margin-left-50-percent
{
    margin-left:50%;
}

.margin-left-20-percent
{
    margin-left:22%;
}

.margin-left-60
{
    margin-left : 63px;
}

.margin-right-30
{
    margin-right:30px;
}

.display-none
{
    display:none;
}

.border-solid
{
    border-style: solid;
}

.input-file
{
    height:50px;
    font-size:14pt;
}

.width-50-percent
{
   width:50%;
}

.table-import
{
    padding-bottom:50px ;
    display:table;
    width:100%;
    font-size: 5px !important;
}

.table-import td
{
    padding-top:25px ;
    font-size: 5px !important;
}

.full-width
{
    width:100%;
    clear:both;
}

.table-progresive
{
    padding-bottom:50px ;
    display:table;
    width:100%;
}

.table-progresive td
{
    padding-top:0px ;
}

.text-align-top
{
    vertical-align: text-top;
}