<div class="wrapper">
<div class="row col-12 col-sm-12 margin-top-25">
    <div class="text-center margin-auto text-bold margin-top-25 margin-bottom-20 font-large">
        <h3>
            <i class="fa fa-paper-plane" aria-hidden="true"></i> &nbsp;New Consignment Note</h3>
    </div>
</div>


<div class="row col-12 col-sm-12 background-while padding-30">
    <!--first half -->
    <div class="row col-6 col-sm-6 margin-top-30">
        <div class="container">
            <table class="table-progresive">
                <tbody>
                    <tr>
                        <td class="text-center">Company:</td>
                        <td>
                            <input type="text" class="form-control" id="address line 1" placeholder="">
                        </td>
                    </tr>
                    <tr>
                        <td class="text-center">Consigned To:</td>
                        <td>
                            <input type="text" class="form-control" id="address line 1" placeholder="">
                        </td>
                    </tr>
                    <tr>
                        <td>&nbsp;</td>
                        <td>
                            &nbsp;
                        </td>
                    </tr>
                    <tr>
                        <td>&nbsp;</td>
                        <td>
                            &nbsp;
                        </td>
                    </tr>
                    <tr>
                        <td>&nbsp;</td>
                        <td>
                            &nbsp;
                        </td>
                    </tr>
                    <tr>
                        <td class="text-center">ATTN:</td>
                        <td>
                            <input type="text" class="form-control" id="stock line 1" placeholder="">
                        </td>
                    </tr>

                </tbody>
            </table>
        </div>
    </div>
    <!--second half -->
    <div class="row col-6 col-sm-6 margin-top-30">
        <div class="container">
            <table class="table-progresive">
                <tbody>
                    <tr>
                        <td class="text-center">Consigned Note No:</td>
                        <td class="text-center">
                            20000145
                        </td>
                    </tr>
                    <tr>
                        <td class="text-center">Date:</td>
                        <td>
                            <input type="text" class="form-control" id="date" placeholder="">
                        </td>
                    </tr>
                    <tr>
                        <td class="text-center">Address:</td>
                        <td>
                            <input type="text" class="form-control" id="date" placeholder="">
                        </td>
                    </tr>
                    <tr>
                        <td class="text-center">&nbsp;</td>
                        <td>
                            <input type="text" class="form-control" id="date" placeholder="">
                        </td>
                    </tr>
                    <tr>
                        <td class="text-center">&nbsp;</td>
                        <td>
                            <input type="text" class="form-control" id="date" placeholder="">
                        </td>
                    </tr>
                    <tr>
                        <td class="text-center">Contact No:</td>
                        <td>
                            <input type="text" class="form-control" id="date" placeholder="">
                        </td>
                    </tr>
                    <tr>
                        <td class="text-center">RED Customer No:</td>
                        <td>
                            <input type="text" class="form-control" id="date" placeholder="">
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <!--table here-->
    <div class="container margin-top-50">
        <h6 class="margin-right-30 float-left">Please received the undermentioned goods in good order &amp; condition.</h6>
        <table class="table table-striped">
            <tbody>
                <tr class="display-none">
                    <td> </td>
                    <td> </td>
                    <td></td>
                    <td> </td>
                </tr>
                <tr>
                    <td>No</td>
                    <td>Description of goods</td>
                    <td>No.of Packages</td>
                    <td>UDM</td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>
                        <input type="text" class="form-control" id="date" placeholder="">
                    </td>
                    <td>
                        <input type="text" class="form-control" id="date" placeholder="">
                    </td>
                    <td>
                        <select class="form-control">
                            <option value="Customer">Select UDM</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>
                        <input type="text" class="form-control" id="date" placeholder="">
                    </td>
                    <td>
                        <input type="text" class="form-control" id="date" placeholder="">
                    </td>
                    <td>
                        <select class="form-control">
                            <option value="Customer">Select UDM</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>
                        <input type="text" class="form-control" id="date" placeholder="">
                    </td>
                    <td>
                        <input type="text" class="form-control" id="date" placeholder="">
                    </td>
                    <td>
                        <select class="form-control">
                            <option value="Customer">Select UDM</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>4</td>
                    <td>
                        <input type="text" class="form-control" id="date" placeholder="">
                    </td>
                    <td>
                        <input type="text" class="form-control" id="date" placeholder="">
                    </td>
                    <td>
                        <select class="form-control">
                            <option value="Customer">Select UDM</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td colspan="4" class="text-center">Total of:</td>

                </tr>

            </tbody>
        </table>
    </div>
    <!--first half -->
    <div class="row col-6 col-sm-6 margin-top-30">
        <div class="container">
            <table class="table-progresive">
                <tbody>
                    <tr>
                        <td class="text-center text-align-top">Remark:</td>
                        <td>
                            <textarea class="form-control" rows="5" id="comment"></textarea>
                        </td>
                    </tr>


                </tbody>
            </table>
        </div>
    </div>
    <!--second half -->
    <div class="row col-6 col-sm-6 margin-top-30">
        <div class="container">
            <table class="table-progresive">
                <tbody>
                    <tr>
                        <td class="text-center">Send By:</td>
                        <td>
                            <input type="text" class="form-control" id="date" placeholder="">
                        </td>
                    </tr>
                    <tr>
                        <td class="text-center">&nbsp;</td>
                        <td>
                            &nbsp;
                        </td>
                    </tr>
                    <tr>
                        <td class="text-center">&nbsp;</td>
                        <td>
                            &nbsp;
                        </td>
                    </tr>
                    <tr>
                        <td class="text-center">&nbsp;</td>
                        <td class="float-right">
                            <button type="button" class="btn btn-info" (click)="saveEntry()">Submit</button>
                        </td>
                    </tr>

                </tbody>
            </table>
        </div>
    </div>

</div>
</div>